@page "/"
@namespace ProductCrudBlazor.Blazor.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ProductCrudBlazor</title>
    <base href="~/" />
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="icon" type="image/x-icon" href="favicon.png" />
</head>
<body>
    <app>
        <component type="typeof(ProductCrudBlazor.Components.App)" render-mode="ServerPrerendered" />
    </app>
    <script src="_framework/blazor.server.js"></script> 
</body>
</html>
